STORAGE_ACCOUNT_ID=
STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=
STORAGE_BUCKET_NAME=

CONNECTION_STRING="Host=localhost;Port=5432;Database=certify_db;Username=postgres;Password=admin"
STORAGE_PROVIDER=Local
STORAGE_URL=http://localhost:5073
API_URL=http://localhost:5073

MAIL_USER=
MAIL_PASSWORD=
